<!DOCTYPE HTML>
<html lang="zxx">
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Moviepoint - Online Movie,Vedio and TV Show HTML Template</title>
		<!-- Favicon Icon -->
		<link rel="icon" type="image/png" href="assets/img/favcion.png" />
		<!-- Bootstrap CSS -->
		<link rel="stylesheet" type="text/css" href="assets/css/bootstrap.min.css" media="all" />
		<!-- Slick nav CSS -->
		<link rel="stylesheet" type="text/css" href="assets/css/slicknav.min.css" media="all" />
		<!-- Iconfont CSS -->
		<link rel="stylesheet" type="text/css" href="assets/css/icofont.css" media="all" />
		<!-- Owl carousel CSS -->
		<link rel="stylesheet" type="text/css" href="assets/css/owl.carousel.css">
		<!-- Popup CSS -->
		<link rel="stylesheet" type="text/css" href="assets/css/magnific-popup.css">
		<!-- Main style CSS -->
		<link rel="stylesheet" type="text/css" href="assets/css/style.css" media="all" />
		<!-- Responsive CSS -->
		<link rel="stylesheet" type="text/css" href="assets/css/responsive.css" media="all" />
		<!--[if lt IE 9]>
		  <script src="http://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
		  <script src="http://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
		<![endif]-->
	</head>
	<body>



		<!-- Page loader -->
	    <div id="preloader"></div>
		<!-- header section start -->
		<header class="header">
			<div class="container">
				<div class="header-area">

					<div class="header-right">
						<form action="#">
							<select>
								<option value="Movies">电影大全</option>
								<option value="Movies">爱情</option>
								<option value="Movies">动作</option>
								<option value="Movies">爱情动作</option>
							</select>
							<input type="text"/>
							<button><i class="icofont icofont-search"></i></button>
						</form>
						<ul>
							<li><a href="#">Welcome Guest!</a></li>
							<li><a class="login-popup" href="#">登陆</a></li>
						</ul>
					</div>
					<div class="menu-area">
						<div class="responsive-menu"></div>
					    <div class="mainmenu">
                            <ul id="primary-menu">
                                <li><a href="index.html">主页</a></li>
                                <li><a href="movies.html">电影全集</a></li>
                                <li><a href="celebrities.html">演员</a></li>
                                <li><a href="top-movies.html">好片推荐</a></li>
                                <li><a class="active" href="blog.html">新闻</a></li>
								<li><a href="#">Pages <i class="icofont icofont-simple-down"></i></a>
									<ul>
										<li><a href="blog-details.html">博客细节</a></li>
										<li><a href="movie-details.html">电影详情</a></li>
									</ul>
								</li>
                                <li><a class="theme-btn" href="#"><i class="icofont icofont-ticket"></i> Tickets</a></li>
                            </ul>
					    </div>
					</div>
				</div>
			</div>
		</header>
		<!-- breadcrumb area start -->
		<section class="breadcrumb-area">
			<div class="container">
				<div class="row">
					<div class="col-lg-12">
						<div class="breadcrumb-area-content">
							<h1>博客页面</h1>
						</div>
					</div>
				</div>
			</div>
		</section><!-- breadcrumb area end -->
		<!-- blog area start -->
		<section class="blog-area">
			<div class="container">
				<div class="row">
					<div class="col-lg-12">
					    <div class="section-title pb-20">
							<h1><i class="icofont icofont-coffee-cup"></i>上期推荐</h1>
						</div>
					</div>
				</div>
				<hr />
				<div class="row">
					<div class="col-lg-12">
						<div class="single-news">
							<div class="news-bg-1"></div>
							<div class="news-date">
								<h2><span>一月</span> 25</h2>
								<h1>2018</h1>
							</div>
							<div class="news-content">
								<h2>电影</h2>
								<p>简介</p>
							</div>
							<a href="#">详情>></a>
						</div>
						<div class="single-news">
							<div class="news-bg-2"></div>
							<div class="news-date">
								<h2><span>三月</span> 12</h2>
								<h1>2018</h1>
							</div>
							<div class="news-content">
								<h2>电影</h2>
								<p>简介</p>
							</div>
							<a href="#">详情>></a>
						</div>
						<div class="single-news">
							<div class="news-bg-3"></div>
							<div class="news-date">
								<h2><span>七月</span> 25</h2>
								<h1>2018</h1>
							</div>
							<div class="news-content">
								<h2>电影</h2>
								<p>简介</p>
							</div>
							<a href="#">详情>></a>
						</div>
					</div>
				</div>
			</div>
		</section><!-- blog area end -->
		<!-- footer section start -->
			<footer class="footer">
			<div class="container">
				<div class="row">
                    <div class="col-lg-3 col-sm-6">
						<div class="widget">

							<p>上海交通大学六学研究会</p>
							<h6><span>联系我们QQ:</span>514684665</h6>
						</div>
                    </div>
                    <div class="col-lg-3 col-sm-6">
						<div class="widget">
							<h4>团队成员</h4>
							<ul>
								<li><a href="#">秃头前端:CJJ</a></li>
								<li><a href="#">傻逼前端:潘梓丞</a></li>
								<li><a href="#">隐藏大佬:赵屹东</a></li>
								<li><a href="#">carry大佬:刘宏庆</a></li>
							</ul>
						</div>
                    </div>
                    <div class="col-lg-3 col-sm-6">
						<div class="widget">
							<h4>声明</h4>
							<ul>
								<li><a href="#">庞大的制作团队(4人)</a></li>
								<li><a href="#">只分享精品内容（偷的豆瓣）</a></li>
								<li><a href="#">全方位的技术支持（全靠菜鸟教程）</a></li>
								<li><a href="#">因为专注所以专业（专业修仙秃头）</a></li>
							</ul>
						</div>
                    </div>
                    <div class="col-lg-3 col-sm-6">
						<div class="widget">
							<h4>我们的微信(扫一扫有惊喜)</h4>
							<img style="width:200px;height:200px;" src="assets/img/shouqian.jpg"/>
						</div>
                    </div>
				</div>
				<hr />
			</div>
			<div class="copyright">
				<div class="container">
					<div class="row">
						<div class="col-lg-6 text-center text-lg-left">
							<div class="copyright-content">
								<p>&copy; 2018 Movie. All Rights <a href="#">Reserved</a>. Designed by Shanghai jiaotong university six studies research association</p>
							</div>
						</div>
						<div class="col-lg-6 text-center text-lg-right">
							<div class="copyright-content">
								<a href="#" class="scrollToTop">
									回到顶部<i class="icofont icofont-arrow-up"></i>
								</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</footer><!-- footer section end -->
		<!-- jquery main JS -->
		<script src="assets/js/jquery.min.js"></script>
		<!-- Bootstrap JS -->
		<script src="assets/js/bootstrap.min.js"></script>
		<!-- Slick nav JS -->
		<script src="assets/js/jquery.slicknav.min.js"></script>
		<!-- owl carousel JS -->
		<script src="assets/js/owl.carousel.min.js"></script>
		<!-- Popup JS -->
		<script src="assets/js/jquery.magnific-popup.min.js"></script>
		<!-- Isotope JS -->
		<script src="assets/js/isotope.pkgd.min.js"></script>
		<!-- main JS -->
		<script src="assets/js/main.js"></script>
	</body>
</html>
