$def with (form,lis,rec)
<html>
	<head>
		<meta charset="UTF-8">
		<title>Home page</title>
		<!-- 收藏夹图标-->
		<link rel="icon" type="image/png" href="/static/img/favcion.png" />
		<!-- Bootstrap CSS -->
		<link rel="stylesheet" type="text/css" href="/static/css/bootstrap.min.css" media="all" />
		<!-- Slick nav CSS -->
		<link rel="stylesheet" type="text/css" href="/static/css/slicknav.min.css" media="all" />
		<!-- Iconfont CSS -->
		<link rel="stylesheet" type="text/css" href="/static/css/icofont.css" media="all" />
		<!-- Owl carousel CSS -->
		<link rel="stylesheet" type="text/css" href="/static/css/owl.carousel.css">
		<!-- Popup CSS -->
		<link rel="stylesheet" type="text/css" href="/static/css/magnific-popup.css">
		<!-- Main style CSS -->
		<link rel="stylesheet" type="text/css" href="/static/css/style.css" media="all" />
		<!-- Responsive CSS -->
		<link rel="stylesheet" type="text/css" href="/static/css/responsive.css" media="all" />
	</head>
	<body>
		<!-- Page loader -->
	    <div id="preloader"></div>
		<!-- header section start -->
		<header class="header">
			<div class="container">
				<div class="header-area">
					<div class="header-right">
						<form action="/s" method="get">
							<select>
								<option value="Movies">电影大全</option>
								<option value="Movies">爱情</option>
								<option value="Movies">动作</option>
								<option value="Movies">爱情动作</option>
							</select>
							<input type="text" name="keyword"/>
							<button><i class="icofont icofont-search"></i></button>
						</form>
						<ul>
							<li><a href="#">Welcome Guest!</a></li>
						</ul>
					</div>
					<div class="menu-area">
						<div class="responsive-menu"></div>
					    <div class="mainmenu">
                            <ul id="primary-menu">
                                <li><a href="/">主页</a></li>
                                <li><a href="movies.html">电影全集</a></li>
                                <li><a href="celebrities.html">演员</a></li>
                                <li><a href="top-movies.html">好片推荐</a></li>
                                <li><a href="blog.html">新闻</a></li>
								<li><a href="#">Pages <i class="icofont icofont-simple-down"></i></a>
									<ul>
										<li><a href="blog-details.html">博客细节</a></li>
										<li><a class="active" href="movie-details.html">电影详情</a></li>
									</ul>
								</li>

                            </ul>
					    </div>
					</div>
				</div>
			</div>
		</header><!-- header section end -->
		<!-- breadcrumb area start -->
		<section class="breadcrumb-area">
			<div class="container">
				<div class="row">
					<div class="col-lg-12">
						<div class="breadcrumb-area-content">
							<h1>电影详情</h1>
						</div>
					</div>
				</div>
			</div>
		</section><!-- breadcrumb area end -->
		<!-- transformers area start -->
		<section class="transformers-area">
			<div class="container">
				<div class="transformers-box">
					<div class="row flexbox-center">
						<div class="col-lg-5 text-lg-left text-center">
							<div class="transformers-content">
								<img src=$lis[1] alt="about" />
							</div>
						</div>
						<!--详情单-->
						<div class="col-lg-7">
							<div class="transformers-content">
								<h2>$lis[0]</h2>
								<p>类别 $lis[2]</p>
								<ul>
									<li>
										<div class="transformers-left">
											评分:
										</div>
										<div class="transformers-right">
											$lis[3]
										</div>
									</li>
									<li>
										<div class="transformers-left">
											导演:
										</div>
										<div class="transformers-right">
											$lis[4]
										</div>
									</li>
									<li>
										<div class="transformers-left">
											时长:
										</div>
										<div class="transformers-right">
											$lis[5]
										</div>
									</li>
									<li>
										<div class="transformers-left">
											发行日期:
										</div>
										<div class="transformers-right">
											$lis[6]
										</div>
									</li>
									<li>
										<div class="transformers-left">
											语言:
										</div>
										<div class="transformers-right">
											$lis[7]
										</div>
									</li>
									<li>
										<div class="transformers-left">
											主演:
										</div>
										<div class="transformers-right">
											$lis[8]
										</div>
									</li>
									<li>
										<div class="transformers-left">
											分享:
										</div>
										<div class="transformers-right">
											<a href="#"><i class="icofont icofont-social-facebook"></i></a>
											<a href="#"><i class="icofont icofont-social-twitter"></i></a>
											<a href="#"><i class="icofont icofont-social-google-plus"></i></a>
											<a href="#"><i class="icofont icofont-youtube-play"></i></a>
										</div>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section><!-- transformers area end -->
		<!-- details area start -->
		<section class="details-area">
			<div class="container">
				<div class="row">
					<div class="col-lg-9">
						<div class="details-content">
							<div class="details-overview">
								<h2>简介</h2>
								<p>$lis[9]</p>
							</div>
							<!--可以不要-->
							<div class="details-reply">
								<h2>推荐</h2>
							<h4>同导演推荐</h4>
							<ul>
								$for i in range(min(5,len(rec[0]))):

								    <li><a href="/m?name=$rec[0][i]">$rec[0][i]</a></li>
							</ul>
							<h4>同演员推荐</h4>
							<ul>
								$for i in range(min(5,len(rec[1]))):

								    <li><a href="/m?name=$rec[1][i]">$rec[1][i]</a></li>
							</ul>
							</div>
							<div class="details-comment">
								<a class="theme-btn theme-btn2" href="#">评价</a>
								<p>内容</p>
								<p></p>
							</div>
							<div class="details-thumb">
								<div class="details-thumb-prev">
									<div class="thumb-icon">
										<i class="icofont icofont-simple-left"></i>
									</div>
									<div class="thumb-text">
										<h4>上一条</h4>

									</div>
								</div>
								<div class="details-thumb-next">
									<div class="thumb-text">
										<h4>下一条</h4>

									</div>
									<div class="thumb-icon">
										<i class="icofont icofont-simple-right"></i>
									</div>
								</div>
							</div>
						</div>
					</div>
			</div>
		</section><!-- details area end -->
		<!-- footer section start -->
		<footer class="footer">
			<div class="container">
				<div class="row">
                    <div class="col-lg-3 col-sm-6">
						<div class="widget">
							<p>上海交通大学六学研究会</p>
							<h6><span>联系我们QQ:</span>514684665</h6>
						</div>
                    </div>
                    <div class="col-lg-3 col-sm-6">
						<div class="widget">
							<h4>团队成员</h4>
							<ul>
								<li><a href="#">秃头前端:CJJ</a></li>
								<li><a href="#">傻逼前端:潘梓丞</a></li>
								<li><a href="#">隐藏大佬:赵屹东</a></li>
								<li><a href="#">carry大佬:刘宏庆</a></li>
							</ul>
						</div>
                    </div>
                    <div class="col-lg-3 col-sm-6">
						<div class="widget">
							<h4>声明</h4>
							<ul>
								<li><a href="#">庞大的制作团队(4人)</a></li>
								<li><a href="#">只分享精品内容（偷的豆瓣）</a></li>
								<li><a href="#">全方位的技术支持（全靠菜鸟教程）</a></li>
								<li><a href="#">因为专注所以专业（专业修仙秃头）</a></li>
							</ul>
						</div>
                    </div>
                    <div class="col-lg-3 col-sm-6">
						<div class="widget">
							<h4>我们的微信(扫一扫有惊喜)</h4>
							<img style="width:200px;height:200px;" src="/static/img/shouqian.jpg"/>
						</div>
                    </div>
				</div>
				<hr />
			</div>
			<div class="copyright">
				<div class="container">
					<div class="row">
						<div class="col-lg-6 text-center text-lg-left">
							<div class="copyright-content">
								<p>&copy; 2018 Movie. All Rights <a href="#">Reserved</a>. Designed by Shanghai jiaotong university six studies research association</p>
							</div>
						</div>
						<div class="col-lg-6 text-center text-lg-right">
							<div class="copyright-content">
								<a href="#" class="scrollToTop">
									回到顶部<i class="icofont icofont-arrow-up"></i>
								</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</footer><!-- footer section end -->
		<!-- jquery main JS -->
		<script src="/static/js/jquery.min.js"></script>
		<!-- Bootstrap JS -->
		<script src="/static/js/bootstrap.min.js"></script>
		<!-- Slick nav JS -->
		<script src="/static/js/jquery.slicknav.min.js"></script>
		<!-- owl carousel JS -->
		<script src="/static/js/owl.carousel.min.js"></script>
		<!-- Popup JS -->
		<script src="/static/js/jquery.magnific-popup.min.js"></script>
		<!-- Isotope JS -->
		<script src="/static/js/isotope.pkgd.min.js"></script>
		<!-- main JS -->
		<script src="/static/js/main.js"></script>
	</body>
</html>
